:root{
    margin: 0;
    padding: 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;4
    
}
html{
    background-color: var(--main-color) ;
    max-zoom: 100%;
    
    --main-color:#3c345c;
    --secondry-color:white;
    --third-color:#4a90e2;
}

body{
    background-color: var(--main-color) ;
    max-zoom: 100%;
    --main-color:#3c345c;
    --secondry-color:white;
    --third-color:#4a90e2;
}
header {
    color:var(--main-color);
    padding: 20px;
    border-radius: 5px;
    margin: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondry-color);
    font-weight: bold;
    font-size: 1.2em;

}
main{
    height: 100%;
}
.menu{
    color: rgb(24, 13, 105);
    width :60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    border-radius: 5px;
    cursor:pointer ;
    margin-right: 5px;
    position: absolute  ;
    left: 2px;

}

aside{
    position: fixed;
    left: -100vw    ;
    margin-top: -2px;
    top: 0;
    width: 72vw;
    max-width: 500px;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.7s ease-in;
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 2px black;



}
.aside-header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:90%  ;
    justify-content: flex-start;
    color: white;
   

}
@keyframes rotate{
    0%{
        transform: rotateY(0deg);
        
        }
    100%{
        transform: rotateY(180deg);
    }
}
.aside-header>section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px white solid;
    cursor: pointer;
    margin: 5px;
}
.aside-bottom{
    display: flex;
    justify-content: center ;  
    align-items: flex-end;
    width: 100% ;
    height: 100%;
    padding-bottom :20px; ;
    color: white;
}
@keyframes rot {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.aside-header>section>p{
    font-size: 2em;
    /* background-color: #4a90e2; */
    /* box-shadow: 2px 2px 7px 2px black; */
    text-align: center;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    padding-right: 7px;
}
.true{
    text-decoration: line-through;
    color: rgb(61, 255, 61);
}
.content{
    cursor: pointer;
}
.closer-container{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;


}.settings{
    margin-right: 5px;
    cursor: pointer;
}
.closer{

    height: 60px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 400;
    cursor: pointer;
    margin-left: 5px; ;

}  


aside>div{
    margin-top: 25%;  
}

aside>div>h3{
    color: var(--secondry-color);
}
.aside-sep{
    height:50%;
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    font-weight: bold;
    align-items: flex-start;
    justify-content: flex-start;
}


.category{

    width: 70%;
    padding: 0px;
    margin-left: 1.2em;
    color: var(--main-color);
    text-align: start;
    margin-bottom: 5px;
    color: var(--secondry-color);
    border-bottom: var(--secondry-color) 1px solid;
    display: flex;
    flex-direction: row;
}
.category:hover{
    padding: 3px;
}

.category>p{
    margin-left: 15px;
    cursor: pointer;
    color: white;
}

.menu-active{
    position: fixed;
    transition: 0.7s all ease-out;
    left: 0px;
}


.add-opener{
    position: fixed;
    right: 0vw;
    bottom: 0vh;
    margin: 30px;
    background-color: var(--third-color);
    cursor: pointer;
    color: var(--secondry-color);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    border-radius: 50%;
    user-select: none;
    transition: all 1s;
    box-shadow: 1px 1px 5px 1px black;

}
.clicked{
    transform: rotate(135deg);
    transition: all 1s;
    background-color: red;
}

.add-opener :active{
    background-color: var(--secondry-color);
}
.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height :60vh;
    color:var(--secondry-color);
    margin: 5%;
}
.todo{
    width: 100%;
    color:var(--secondry-color);    
    padding: 10px;
    margin: 7px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    box-shadow: 1px 1px 5px 1px black;
    
}

.content{
    margin-right: min(40px);
    width: 100%;
}

.state{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-left: 1px solid var(--secondry-color);
}   
.title{
    font-weight: bold;
}
.delete{
    /*background-color: rgb(10, 3, 60) ;
    box-shadow: 1px 1px 7px 1px black;*/
    margin: 2px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    
} 
.delete img{
    width: 32px;
    height: 32px;

}


.todo-form{
    display: flex;

    
    position: fixed;
    left: 0%;
    top: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--main-color);
    color: white    ;

    width: 100%;
    height: 100%;
    transition: all 2s;
    
}
.color-changer{
    display: flex;
    flex-direction:row ;
    margin: 10;
    margin-right: auto;
    margin-left: auto;
    
}

.color{
    width: 50px;
    height: 50px;
    border : black 2px solid;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 1px 1px 7px black;
}

.n-active{
    display: none;
    transition: all 2s;

}

.todo-form>div{
    margin: 10px;

}

.todo-form>div>input{
    border-radius: 10px;
    height: 25px;
    min-width: 200px;

}
textarea{
    width: 200px;
    border-radius: 10px;
    resize: none;
}
.add-button{
    background-color: var(--main-color);
    color: white;
    border-radius: 3px;
    border: white 2px solid;
    padding: 10px;
}
.done{
    color:green;
    text-decoration: line-through;
}

